vendor/
.idea/
composer.lock
.docker/
*.cache
storage/Product/

src/Infra/Cli/Product/logs.txt

src/Infra/Cli/storage/Product/products.json

src/Infra/Http/public/logs.txt
src/Infra/Http/public/node_modules/

src/Infra/Cli/Product/dados.txt

logs.txt


src/Infra/Http/public/package-lock.json

src/Infra/Http/public/serviceAccountKey.json

.env
